# .gitignore
# Ignore the configuration file if it's in the root of the project
# Or adjust the path if it's located elsewhere
config.ini
credential.ini

# Ignore logs
/logs/*
/db/posted_entries.db
!logs/.gitkeep
